POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=sensors
DATABASE_URL=postgres://postgres:password@postgres:5432/sensors
TEMPERATURE_API_URL=http://temperature-api:8081
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=secretpassword